//// BREAK-POINTS
@mixin tablet {
  @media screen and (min-width: 48em) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 65.25em) {
    @content;
  }
}

//// FLEXBOX WITH COLUMN ORIENTATION
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

//// LINK WITH HOVER EFFECT {
@mixin hoverLink {
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: $text-secondary;
  }
}
