//// VARIABLES
// COLORS
$yukio-bg: #181818;
$yukio-neutral-light-1: #dedede;
$yukio-primary: #ff8989;
$yukio-primary-dark: #4c0000;

// TYPOGRAPHY
$standart-font-size: 1.6rem;
$standart-title-size: 2rem;

$heading-mobile: 2.4rem;
$heading-desktop: 4.8rem;

// PADDING
$padding-smallest: 1rem;
$padding-small: 1.5rem;

// SPACING
$spacing-smallest: 0.8rem;
$spacing-small: 1rem;
$spacing-medium: 1.6rem;
$spacing-large: 2rem;
$spacing-larger: 2.5rem;

//// MIXINS
@mixin basicFocusZoom {
  outline: none;
  transform: scale(1.15);
}

//// BREAK-POINTS
@mixin desktop {
  @media screen and (min-width: 68em) {
    @content;
  }
}

//// STYLE RESET
*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  // SETS STANDART FONT-SIZE TO 10PX
  font-size: 62.5%;
}

body {
  font: 300 $standart-font-size "Sora", sans-serif;
  background-color: $yukio-bg;
}

.title {
  padding: $padding-smallest;
  text-align: center;
  text-transform: uppercase;
  font-size: $heading-mobile;
  color: #fff;
  margin-bottom: $spacing-small;

  @include desktop {
    font-size: $heading-desktop;
  }
}

//// FOOTER WITH SOCIAL MEDIA LINKS

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-small;
  width: 100%;
  background-color: $yukio-bg;
  color: #fff;
}

.logo {
  margin-top: $spacing-smallest;
  img {
    object-fit: cover;
    width: 100%;
  }

  @include desktop {
    margin-top: $spacing-large;
    img {
      width: 150%;
      transform: translateX(-33%);
    }
  }
}

.social-media {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: $spacing-small;
  margin-top: $spacing-small;

  @include desktop {
    gap: $spacing-larger;

    a:focus {
      outline: none;
    }

    // CUSTOMIZES FOCUS STATE
    a:focus &__icon {
      fill: $yukio-primary;
      transform: scale(1.25);
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $yukio-neutral-light-1;
    transition: 0.25s;

    @include desktop {
      width: 4.5rem;
      height: 4.5rem;

      &:hover {
        fill: $yukio-primary;
        transform: scale(1.25);
      }
    }
  }
}

//// MAIN STRUCTURE

.challenges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing-large;

  @include desktop {
    a:focus {
      & ~ .challenge__title {
        opacity: 1;
        visibility: visible;
      }

      & ~ .challenge__title::after {
        transform: scaleY(1);
        transform-origin: top;
      }

      .challenge__preview-image {
        transform: scale(2);
        filter: brightness(1);
      }
    }
  }
}

.challenge {
  width: 35rem;
  height: 27.5rem;
  max-width: 90%;
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
  transition: 0.25s;

  @include desktop {
    width: 40rem;
    height: 32.5rem;
  }

  &__title {
    font-size: $standart-title-size;
    color: $yukio-primary-dark;
    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 5;

    // MAKES TITLE INVISIBLE ON DESKTOP
    @include desktop {
      opacity: 0;
      visibility: hidden;
      transition: 0.25s;
    }

    &::after {
      content: "";
      width: 400%;
      height: 100%;
      background-color: $yukio-primary;
      position: absolute;
      left: -10%;
      z-index: -1;

      // MAKES TITLE-BG SHRINK ON DESKTOP
      @include desktop {
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.35s;
      }
    }
  }

  &__preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.55);
    transition: 0.35s;

    // REDUCES BRIGHTNESS ON DESKTOP
    @include desktop {
      filter: brightness(0.85);
    }
  }

  @include desktop {
    // MAKES TITLE VISIBLE ON HOVERED STATE
    &:hover &__title {
      opacity: 1;
      visibility: visible;

      // EXPANDS TITLE-BG ON HOVERED STATE
      &::after {
        transform: scaleY(1);
        transform-origin: top;
      }
    }

    // BRIGHTENS AND SCALES PREVIEW IMAGE UP ON HOVERED STATE
    &:hover &__preview-image {
      transform: scale(2);
      filter: brightness(1);
    }
  }
}

.sr-only {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -500%;
  left: -500%;
}
