//// VARIABLES
// COLORS
$yukio-bg: #181818;
$yukio-neutral-light-1: #dedede;
$yukio-primary: #ff8989;
$yukio-primary-dark: #4c0000;

// TYPOGRAPHY
$standart-font-size: 1.6rem;
$standart-title-size: 2rem;

$heading-mobile: 2.4rem;
$heading-desktop: 4.8rem;

// PADDING
$padding-smallest: 1rem;
$padding-small: 1.5rem;

// SPACING
$spacing-smallest: 0.8rem;
$spacing-small: 1rem;
$spacing-medium: 1.6rem;
$spacing-large: 2rem;
$spacing-larger: 2.5rem;

// CHALLENGE COLORS

$main-bg: #090b1a;
$card-bg: #1b1938;
$accent: #aa5cdb;

$main-heading: #ffffff;
$main-paragraph: rgba(255, 255, 255, 0.749);
$stats-heading: rgba(255, 255, 255, 0.6);
