.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.7rem;
  height: 4.8rem;
  background-color: $neutral-light-2;
  border-radius: 2.5rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
