.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.5rem;
  height: 4.6rem;
  background-color: $neutral-light-2;
  border: 2px solid $neutral-light-2;
  border-radius: 2.5rem;
  text-decoration: none;
  cursor: pointer;

}
