@keyframes disappearRight {
  to {
    transform: translateX(10%);
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes appearRight {
  to {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes star {
  20% {
    transform: scale(0.5) translate(-100%, -100%);
  }
  100% {
    transform: rotate(-180deg) scale(100);
  }
}
