@keyframes disappearRight {
  to {
    transform: translateX(10%);
    opacity: 0;
  }
}

@keyframes appearRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes star {
  to {
    transform: rotate(-180deg) scale(100);
  }
}
