.mb-smallest {
  margin-bottom: 1rem;
}

.mb-small-2 {
  margin-bottom: 1.5rem;
}

.mb-small {
  margin-bottom: 1.8rem;
}

.mb-medium {
  margin-bottom: 2.3rem;
}

.mb-large {
  margin-bottom: 2.8rem;
}

.mb-larger {
  margin-bottom: 3rem;
}
