//// BREAK-POINTS
@mixin tablet {
  @media screen and (min-width: 48em) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 75em) {
    @content;
  }
}

@mixin smallDevice {
  @media screen and (max-width: 17.5em) {
    @content;
  }
}

//// REDUCED MOTION QUERY
@mixin reducedMotion {
  @media screen and (prefers-reduced-motion) {
    @content;
  }
}

//// FLEXBOX WITH COLUMN ORIENTATION
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

//// FOCUS STYLING WITH BOX-SHADOW
@mixin focusShadow {
  outline: none;
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.365);
}
