*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font: 400 1.5rem "Outfit", sans-serif; }

.card {
  text-align: center; }
  .card__heading {
    font-weight: 700;
    font-size: 2.2rem;
    color: #1f3251;
    margin-top: 0.5rem; }
  .card__paragraph {
    max-width: 25ch;
    color: #7b879d;
    padding: 0.1rem; }

body {
  background-color: #d6e2f0; }

main {
  min-height: 80vh; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  background-color: #181818;
  color: #fff; }

.logo {
  margin-top: 0.8rem; }
  .logo img {
    object-fit: cover;
    width: 100%; }
  @media screen and (min-width: 68em) {
    .logo {
      margin-top: 2rem; }
      .logo img {
        transform: translateX(-16%); } }

.social-media {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem; }
  @media screen and (min-width: 68em) {
    .social-media {
      gap: 2.5rem; }
      .social-media a:focus {
        outline: none; }
      a:focus .social-media__icon {
        fill: #ff8989;
        transform: scale(1.25); } }
  .social-media__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #dedede;
    transition: 0.25s; }
    @media screen and (min-width: 68em) {
      .social-media__icon {
        width: 4.5rem;
        height: 4.5rem; }
        .social-media__icon:hover {
          fill: #ff8989;
          transform: scale(1.25); } }

.sr-only {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -500%;
  left: -500%; }

.card {
  display: grid;
  justify-items: center;
  width: 32rem;
  height: 49.7rem;
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 2rem 1rem -0.5rem rgba(123, 135, 157, 0.175);
  margin: 8.5rem auto; }
  @media screen and (min-width: 65.25em) {
    .card {
      margin: 15rem auto; } }
  .card__image {
    width: 28.8rem;
    height: 28.8rem;
    border-radius: 1rem; }
