//// VARIABLES
//COLOR
$yukio-bg: #181818;
$yukio-neutral-light-1: #dedede;
$yukio-primary: #ff8989;
$yukio-primary-dark: #4c0000;

// PADDING
$padding-smallest: 1rem;
$padding-small: 1.5rem;

// SPACING
$spacing-smallest: 0.8rem;
$spacing-small: 1rem;
$spacing-medium: 1.6rem;
$spacing-large: 2rem;
$spacing-larger: 2.5rem;

// CHALLENGE COLORS
$white: #ffffff;
$light-gray: #d6e2f0;
$grayish-blue: #7b879d;
$dark-blue: #1f3251;
