.btn {
  width: 28rem;
  height: 4.6rem;
  border-radius: 2.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  position: relative;
  transition: 0.125s;

  &--submit {
    background-color: $primary;
    font-weight: 700;
    color: $btn-submit;
  }

  @include desktop {
    width: 33.9rem;
    height: 4.5rem;
    cursor: pointer;

    &:hover {
      background-color: $btn-submit;
      color: $primary;
    }
    
    &:focus {
      @include focusShadow;
    }
  }
}
