.btn {
  width: 28rem;
  max-width: 100%;
  height: 4.6rem;
  border-radius: 2.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  position: relative;
  cursor: pointer;
  transition: 0.125s;

  &--submit {
    background-color: $primary;
    font-weight: 400;
    color: $btn-submit;
  }

  &:hover {
    background-color: $btn-submit;
    color: $primary;
    letter-spacing: 0.25rem;
  }

  &:focus {
    @include focusShadow;
  }

  @include tablet {
    width: 33.9rem;
    height: 4.5rem;
    cursor: pointer;
  }
}
