.rating {
  max-width: 32.7rem;
  min-height: 36rem;
  padding: 2.3rem 1.8rem 3.2rem 2rem;
  border-radius: 1.5rem;
  background-color: $card-bg;
  margin: 15rem auto;

  &__form {
    flex-direction: column;
    align-items: center;
    position: relative;

    &--submitted {
      display: none;
      opacity: 0;
    }
  }

  &__picture {
    padding-top: 1rem;

    & img {
      width: 15rem;
      height: 10rem;
    }
  }

  &__final-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.8rem;
    height: 3.2rem;
    background-color: $neutral-dark;
    border-radius: 2.5rem;
    letter-spacing: -0.025rem;
    font-size: 1.5rem;
    color: $primary;
  }
}

.ratings {
  display: flex;
}

.rating__radio:checked + .ratings__circle {
  color: #fff;
  background-color: $primary;
}

.ratings__circle,
.ratings__rating {
  width: 4.2rem;
  height: 4.2rem;
  background-color: $neutral-dark;
  border-radius: 50%;
  transition: 0.25s;
  position: relative;

  &:not(:last-of-type) {
    margin-right: 1.7rem;
  }

  & > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}