.rating {
  width: 32.7rem;
  min-height: 36rem;
  border-radius: 1.5rem;
  background: radial-gradient(
    circle at 50% -25%,
    rgba($neutral-light, 0.25) 5%,
    $card-bg 30%
  );
  margin: 15rem auto;

  @include tablet {
    width: 41.2rem;
    min-height: 41.6rem;
    border-radius: 2.5rem;
    margin: 19.5rem auto;
  }

  &__form {
    flex-direction: column;
    align-items: center;
    padding: 2.3rem 1.8rem 3.2rem 2rem;
    position: relative;

    @include tablet {
      padding: 3rem 1.8rem 3.2rem 3.2rem;
    }

    &.invisible {
      animation: disappearRight 0.5s ease forwards;

      @include reducedMotion {
        display: none;
        opacity: 0;
        animation: none;
      }
    }

    &--submitted {
      display: none;
      padding: 2.4rem 1rem;
      transform: translateX(-10%);
      opacity: 0;

      @include tablet {
        padding: 1.6rem 1rem;
      }

      &.visible {
        display: flex;
        animation: appearRight 0.5s ease forwards;

        @include reducedMotion {
          display: flex;
          transform: initial;
          opacity: 1;
          animation: none;
        }
      }
    }
  }

  &__picture {
    padding-top: 1rem;

    @include tablet {
      padding-top: 3rem;
    }

    & img {
      width: 15rem;
      height: 10rem;

      @include tablet {
        width: 16rem;
        height: auto;
      }
    }
  }

  &__message {
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: #f31010;
    transform: scaleY(0);
    position: absolute;
    bottom: -1.5rem;
    right: -2.5rem;
    transition: 0.25s ease;

    &.show {
      transform: scaleY(1);
    }
  }

  &__radio {
    &:checked + .ratings__circle {
      color: #fff;
      background-color: $primary;

      @include desktop {
        background-color: $neutral-medium;
      }
    }

    &:focus + .ratings__circle {
      color: #fff;
      background-color: $primary;
      @include focusShadow;
    }
  }
}

.ratings {
  display: flex;
}

.ratings__circle {
  width: 4.2rem;
  height: 4.2rem;
  background-color: $neutral-dark;
  border-radius: 50%;
  transition: 0.25s;
  position: relative;

  &:not(:last-of-type) {
    margin-right: 1.7rem;

    @include tablet {
      margin-right: 2rem;
    }
  }

  &--hover {
    cursor: pointer;

    &:hover {
      background-color: $primary;
      color: $btn-submit;
    }
  }

  & > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include tablet {
    width: 5rem;
    height: 5rem;
  }
}
