@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v4/QGYvz_MVcBeNP4NJtEtq.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font: 300 1.6rem "Outfit", sans-serif;
}

.card {
  color: $text-primary;
}

.details {
  &__title,
  &__title:link,
  &__title:visited {
    font-size: 2.2rem;
    text-decoration: none;
    color: #fff;

    @include desktop {
      @include hoverLink;
    }
  }

  &__paragraph {
    margin-top: 1rem;
    line-height: 160%;

    @include desktop {
      margin-top: 0;
      font-size: 1.8rem;
    }
  }
}

.info {
  &__price {
    font-weight: 600;
    color: $text-secondary;
  }

  &__remaining {
    font-size: 1.5rem;
    font-weight: 400;

    @include desktop {
      font-size: 1.6rem;
    }
  }
}

.author {
  color: #fff;

  h2 {
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__name,
  &__name:link,
  &__name:visited {
    text-decoration: none;
    color: #fff;

    @include desktop {
      @include hoverLink;
    }
  }
}
